.itemcard{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.itemcard{
    display: flex;
    width: 100%;
    color: var(--txt-color);
}
.itemcard img{
    width: 100%;
    transition: all 0.3s ease;
}
.itemcard:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.itemcard .content{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: var(--txt-color);
    padding: 8px;
}
.itemcard .content .title{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.itemcard .content .year{
    font-size: 12px;
}

.itemcard .content .play{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 32px;
}